{% set notHome = app.request.attributes.get('_route') is same as 'home' ? false : true %}

<div class="navbar bg-base-100">
    <div class="navbar-start">
        {% if notHome %}
            <div class="drawer z-50">
                <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content">
                    <label for="menu-drawer" tabindex="0" class="btn btn-ghost btn-circle">
                        {{ ux_icon('solar:hamburger-menu-linear', {class: 'w-5 h-5'}) }}
                    </label>
                </div>
                <div class="drawer-side">
                    <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                    <div class="menu bg-base-200 min-h-full w-80">
                        <a href="{{ path('home') }}" class="p-4">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="h-12 mx-auto">
                        </a>
                        <ul class="text-base-content">
                            <li><a href="{{ path('home') }}">{{ ux_icon('solar:tennis-linear', {class: 'w-4 h-4'}) }} Accueil</a></li>
                            <li><a>{{ ux_icon('solar:calendar-linear', {class: 'w-4 h-4'}) }} Calendrier</a></li>
                            <li><a>{{ ux_icon('solar:cup-outline', {class: 'w-4 h-4'}) }} Résultats</a></li>
                            <li><a>{{ ux_icon('solar:users-group-two-rounded-linear', {class: 'w-4 h-4'}) }} Joueurs</a></li>
                            <li><a>{{ ux_icon('solar:ranking-linear', {class: 'w-4 h-4'}) }} Classement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="navbar-center">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="h-12">
        </a>
    </div>
    <div class="navbar-end">
        {% if notHome %}
            <div class="flex items-center relative">
                <label class="swap btn btn-ghost btn-circle">
                    <input type="checkbox" />
                    <div class="swap-off">
                        {{ ux_icon('solar:magnifer-linear', {class: 'w-5 h-5'}) }}
                    </div>
                    <div class="swap-on flex">
                        <input type="text" placeholder="Rechercher un joueur, un tournoi, ..." class="input input-bordered w-64 absolute top-0 right-12" />
                        {{ ux_icon('solar:close-circle-linear', {class: 'w-5 h-5'}) }}
                    </div>
                </label>
            </div>
        {% endif %}
    </div>
</div>
